<%= render "shared/mini-navbar" %>
<h2 class="text-center">Tableau de Bord</h2>
<div class="d-flex flex-column align-items-center my-3">
  <% if current_user.photo.attached? %>
   <%= cl_image_tag current_user.photo.key, class: "avatar-bordered mb-2" %>
  <% else %>
    <img class="avatar-bordered mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
  <% end %>
  <span><strong>Niveau</strong> : <%= @level %></span>
</div>

<div class="d-flex flex-column infos-user">
  <span><i class="fas fa-crown"></i><strong>Victoires</strong> - <%= @bets_winned %> (<%= @ratio_victory %> % )</span>
  <span><i class="fas fa-poop"></i><strong>Poop's Bro</strong> - <%= @poop_bro %> (<%= @poop_bro_bets %>)</span>
  <span><i class="fas fa-gem"></i><strong>Golden Bro</strong> - <%= @golden_bro %> (<%= @golden_bro_bets %>)</span>
  <span><i class="fas fa-user-friends"></i><strong>Bro 4 life</strong> - <%= @bro4life %> (<%= @bro4life_bets %>)</span>

  <span>Tes paris :
    <ul>
      <li><strong>Total</strong> : <%= @bets_played %></li>
      <li><strong>Finis</strong> : <%= @bets_finished %></li>
      <li><strong>Créés</strong> : <%= @bets_created %></li>
    </ul>
  </span>
  <div class="btn-new-bet">
    <%= link_to 'Crée un nouveau pari !', new_my_bet_path %>
  </div>
</div>

<!-- pie_chart [["Victoires", @bets_winned], ["Défaites", @bets_played - @bets_winned]], width: "130px", height: "130px", colors: ["#5FC525", "#D3151D"], legend: false, defer: true, donut: true -->
