<div class="navbar-brobet">
  <!-- Logo -->
  <a href="/" class="navbar-brobet-brand">
    <img src="https://www.habillez-moi.com/wp-content/uploads/2017/04/Picto-tre%CC%80fle.png" alt="logo">
  </a>

  <% if current_user != nil %>
    <div class="d-block d-md-none">
      <div class="navbar-dropdown">
        <input id="toggle" type="checkbox">
        <label class="hamburger" for="toggle">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

        <div class="nav">
          <div class="nav-wrapper">
            <nav class="d-flex flex-column">
              <%= link_to current_user.nickname, user_path(current_user) %>
              <%= link_to "Crée ton pari", new_my_bet_path %>
              <%= link_to "Crée ton tournoi", new_my_tournament_path %>
              <%= link_to "Liste des bonus", bonuses_path %>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="btn-login">
      <a href="<%= new_user_session_path %>"><i class="far fa-user"></i></a>
    </div>
  <% end %>
</div>
<div style="height: 70px;"></div>
