
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/png/512/62/62641.png" %>
  <% end %>
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-custom" >
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Mon dernier pari", bet_path(Bet.last), class: "dropdown-item" %>
        <%= link_to "Mon dernier tournoi", tournament_path(Tournament.last), class: "dropdown-item" %>
        <%= link_to "Créer ta Bet", new_my_bet_path, class: "dropdown-item" %>
        <%= link_to "Voir tes Bets", bet_participations_path(), class: "dropdown-item" %>
        <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</div>
