rename it according to its purpose

<div class="bet-infos">
  <h4><%= @bet.title %></h4>
  <p>
    <%= render 'shared/show_result_input' %>
    <%= render 'shared/show_resulted' %>
    <%= render 'shared/show_result_pending' %>
    <% if Bet::PROGRESS[@progress.to_sym] < 2 %>
      <p>
        Participant: <%= @bet.in_users.map { |u| u.nickname }.join(', ') %>
      </p>
    <% end %>
  </p>
  <p><%= @bet.description %></p>
  <p>Mise : <%= @bet.stake %></p>
  <p>Date de cloture : <%= @bet.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Date de résultat : <%= @bet.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Créateur : <%= @bet.user.nickname %></p>
</div>
