<div class="bet-infos">
  <%= @a %>
  <h4><%= @bet.title %></h4>
  <p><%= @bet.description %></p>
  <p>Créateur : <%= @bet.user.nickname %></p>
  <p>Mise : <%= @bet.stake %></p>
  <p>Date de cloture : <%= @bet.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Date de résultat : <%= @bet.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>
</div>

