<%= simple_form_for [:my, @bet] do |f| %>
  <div class="form__group required">
    <input type="input" class="form__field required" placeholder="Titre" name="bet[title]" id='titre' required />
    <label for="name" class="form__label">Titre</label>
  </div>
  <div class="form__group">
    <input type="input" class="form__field" placeholder="Description" name="bet[description]" id='description' required />
    <label for="description" class="form__label">Description</label>
  </div>
  <div class="form__group margin-bot">
    <input type="input" class="form__field" placeholder="Stake" name="bet[stake]" id='stake' required />
    <label for="stake" class="form__label margin-bot">Mise</label>
  </div>
  <span class="ton-choix"> Ton choix <span style="text-decoration: underline dotted;">*</span></span>
  <div class="result-btns">
    <%= f.input_field :owner_choice, inline_label: 'Remember me', label: false,
            :collection => [[true, 'Bro'], [false, 'No Bro']],
            :label_method => :last,
            :value_method => :first,
            :as => :radio_buttons,
            :input_html => { class: "bro-btn" },
            :label_html => { class: "bro-btn" },
            :checked => true %>
  </div>
  <%= f.input :closed_at, label: "Limite d'inscription", as: :string, required: true, input_html: { value: DateTime.now, class: "datepicker"} %>
  <%= f.input :resulted_at, label: "Fin du tournoi", as: :string, required:true, input_html: {class: "datepicker"} %>
  <div class="new-btn">
    <%= f.submit "Lance ton pari", class: "btn-new-bet" %>
  </div>
<% end %>

