<div>
  <span>Tournoi associé: <%= @tournament.title %></span>
  <br>

    <% if @used_bonuse %>
        <span>Bonus utilisé : <%= cl_image_tag @used_bonuse.bonuse.photo.key, class: "avatar avatar-classement" %></span>
    <% else %>
    <a data-toggle="modal" data-target="#bonuses-available">
      Bonus dispo :
      <% @available_bonuses.each_with_index do |bonus, index| %>
        <% if bonus.user == current_user %>
          <% if index > 0 %>
            <%= cl_image_tag bonus.bonuse.photo.key, class: "avatar avatar-classement", style: "margin-left: -24px;" %>
          <% else %>
            <%= cl_image_tag bonus.bonuse.photo.key, class: "avatar avatar-classement" %>
          <% end %>
        <% end %>
      <% end %>
    </a>
    <% end %>

</div>

<div class="modal fade" id="bonuses-available" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Bonus disponibles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column justify-content-center align-center">

          <% if !@used_bonuse %>
            <% @available_bonuses.each do |bonus| %>
              <div style="margin-bottom: 8px; ">
                <% if bonus.user == current_user %>
                  <%= cl_image_tag bonus.bonuse.photo.key, class: "avatar avatar-participant" %>
                  <%= link_to bonus_progresses_path(bet: @bet, tournament: @tournament, bonus: bonus), method: "POST" do %>
                    <i style="margin:0" class="fas fa-plus-circle  color-success"></i>
                  <% end %>
                  <p> <%= bonus.bonuse.description %> </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
