<div class="sides">
  <%# raise %>
  <div class="side">
    <a data-toggle="modal" data-target="#participants">
      <div class="avatars">
        <% BetParticipation.where(bet: @bet, user_choice: true).each_with_index do |participant, index| %>
          <% if index > 0 %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-classement mb-2", style: "margin-left: -16px" %>
            <% else %>
              <img class="avatar avatar-classement mb-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo" style= "margin-left: -16px">
            <% end %>
          <% else %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-classement mb-2"%>
            <% else %>
              <img class="avatar avatar-classement mb-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo">
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="bro text-center">Bros</span>
    </a>
  </div>
  <div class="side">
    <a data-toggle="modal" data-target="#participants">
      <div class="avatars">
        <% BetParticipation.where(bet: @bet, user_choice: false).each_with_index do |participant, index| %>
          <% if index > 0 %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-classement mb-2", style: "margin-left: -16px" %>
            <% else %>
              <img class="avatar avatar-classement mb-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo" style= "margin-left: -16px">
            <% end %>
          <% else %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-classement mb-2"%>
            <% else %>
              <img class="avatar avatar-participant mb-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo">
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="no-bro text-center">No Bros</span>
    </a>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="participants" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center  bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Participants</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">
          <span class="bro text-center">Bros</span>
          <% BetParticipation.where(bet: @bet).each_with_index do |participant,index| %>
            <% if participant.user_choice %>
              <div class="d-flex align-items-center mb-2">
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2 mr-2" %>
                  <% raise %>
                  <%= cl_image_tag @used_bonuses.select { |b| b.user == participant.user}.first.bonuse.photo.key, class: "avatar avatar-bonus-modal mb-2" if @used_bonuses.select { |u| u.user == participant.user  }.count> 0 %>
                <% else %>
                  <img class="avatar avatar-participant mb-2 mr-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo">
                <% end %>
                <span class="participant-name"><%= participant.user.nickname %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex flex-column">
          <span class="no-bro text-center">No Bros</span>
          <% BetParticipation.where(bet: @bet).each_with_index do |participant, index| %>
            <% unless participant.user_choice %>
              <div class="d-flex align-items-center mb-2">
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2 mr-2" %>
                  <%= cl_image_tag @used_bonuses.select { |b| b.user == participant.user}.first.bonuse.photo.key, class: "avatar avatar-bonus-modal mb-2" if @used_bonuses.select { |u| u.user == participant.user  }.count> 0 %>
                <% else %>
                  <img class="avatar avatar-participant mb-2 mr-2" src="https://res.cloudinary.com/dv1x9ot6j/image/upload/v1599121283/logo_n5ubcv.png" alt="logo">
                <% end %>
                <span class="participant-name"><%= participant.user.nickname %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
