<div class="sides">
  <div class="side">
    <a data-toggle="modal" data-target="#participants">
      <div class="avatars">
        <% BetParticipation.where(bet: @bet, user_choice: true).each_with_index do |participant, index| %>
          <% if index > 0 %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2", style: "margin-left: -16px" %>
            <% else %>
              <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo" style= "margin-left: -16px">
            <% end %>
          <% else %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2"%>
            <% else %>
              <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="bro text-center">Bros</span>
    </a>
  </div>
  <div class="side">
    <a data-toggle="modal" data-target="#participants">
      <div class="avatars">
        <% BetParticipation.where(bet: @bet, user_choice: false).each_with_index do |participant, index| %>
          <% if index > 0 %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2", style: "margin-left: -16px" %>
            <% else %>
              <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo" style= "margin-left: -16px">
            <% end %>
          <% else %>
            <% if participant.user.photo.attached? %>
              <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2"%>
            <% else %>
              <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="no-bro text-center">No Bros</span>
    </a>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="participants" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center  bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Participants</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">
          <span class="bro text-center">Bros</span>
          <% BetParticipation.where(bet: @bet).each_with_index do |participant,index| %>
            <% if participant.user_choice %>
              <div class="d-flex align-items-center mb-2">
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2" %>
                <% else %>
                  <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
                <% end %>
                <span>
                  <% if !@available_bonuses.nil? %>
                    <% @available_bonuses.each do |bonus| %>
                      <% if bonus.user == current_user %>
                        <%= bonus.bonuse.title %>

                      <% end %>
                    <% end %>
                  <% end %>
                </span>
                <span class="participant-name"><%= participant.user.nickname %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex flex-column">
          <span class="no-bro text-center">No Bros</span>
          <% BetParticipation.where(bet: @bet).each_with_index do |participant, index| %>
            <% unless participant.user_choice %>
              <div class="d-flex align-items-center mb-2">
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2" %>
                <% else %>
                  <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
                <% end %>
                <span class="participant-name"><%= participant.user.nickname %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
