<div class="sides">
  <a data-toggle="modal" data-target="#participants-no-closed">
    <div class="avatars">
      <% @bet.in_users.each_with_index do |participant, index| %>
        <% if index > 0 %>
          <% if participant.photo.attached? %>
            <%= cl_image_tag participant.photo.key, class: "avatar avatar-participant mb-2", style: "margin-left: -16px" %>
          <% else %>
            <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo" style= "margin-left: -16px">
          <% end %>
        <% else %>
          <% if participant.photo.attached? %>
            <%= cl_image_tag participant.photo.key, class: "avatar avatar-participant mb-2"%>
          <% else %>
            <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
          <% end %>
        <% end %>
      <% end %>
    </div>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="participants-no-closed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Participants</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">

          <% BetParticipation.where(bet: @bet).each_with_index do |participant,index| %>

            <div class="d-flex align-items-center mb-2">
              <% if index > 0 %>
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2", style: "margin-left: -16px" %>
                <% else %>
                  <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo" style= "margin-left: -16px">
                <% end %>
              <% else %>
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar avatar-participant mb-2"%>
                <% else %>
                  <img class="avatar avatar-participant mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
                <% end %>
              <% end %>
              <span class="participant-name"><%= participant.user.nickname %></span>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
