  <div class="bet-infos">
  <div class="bet-title">
    <h4>
    <%= @bet.title %>
    </h4>
    <p class="text-left" >Par <%= @bet.user.nickname %></p>
  </div>

  <% if @progress == "resulted" %>
    Résultat : <%= @bet.result ? "Bro" : "No bro" %>
  <% end %>

  <% case @progress
    when "join_pending" %>
    <%= render "./bets/shared/participants" %>
    <%= render "./bets/shared/input_join_pending", bet_participation: @bet_participation%>
  <% when "joined" %>
    <%= render "./bets/shared/participants" %>
    <label for="">Lien de partage : </label>
    <!-- The text field -->
    <input type="text" value="<%=request.original_url%>" id="myInput">
    <img id="imageQRcode" src="http://chart.apis.google.com/chart?cht=qr&chs=150x150&chl=<%=request.original_url%>" alt="QR Code" name="imageQRcode" />
    <!-- The button used to copy the text -->
    <!-- <button onclick="myFunction()">Copy text</button> -->
  <% when "result_pending" %>
    <%= render "./bets/shared/participants_choices" %>
  <% when "result_input" %>
    <%= render "./bets/shared/participants_choices" %>
    <%= render "./bets/shared/result_input" %>
  <% when "resulted" %>
    <%= render "./bets/shared/participants_choices" %>
  <% end %>

  <p><%= @bet.description %></p>
  <p>Mise : <%= @bet.stake %></p>
  <p>Date de cloture : <%= @bet.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Date de résultat : <%= @bet.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>

  <% unless @progress == "join_pending" %>
      <a data-toggle="modal" data-target="#tournaments-availables">
        <div class="round-btn-link">
          <i class="fas fa-plus"></i>
          <i class="fas fa-trophy"></i>
        </div>
      </a>
    <% @bet.tournaments.each do |tournament| %>
      <%= link_to tournament.title[0..28], tournament_path(tournament) %>
    <% end %>
    <%= render "./shared/show_chatroom" %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="tournaments-availables" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Relié à quel Tournoi ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">

          <% @available_tournaments.each_with_index do |tournament, index| %>

            <div class="d-flex justify-content-center mb-2">
              <div class="btn-show">
                <%= link_to tournament.title[0..30], tournament_path(tournament) %>
              </div>
              <div class="btn-add">
                <%= link_to tournament_tournament_bets_path(tournament, bet_id: @bet), method: :post do  %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
              </div>
              </form>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
