<div class="bet-infos">
  <div class="bet-title">
    <h4>
    <%= @bet.title %>
    </h4>
    <p class="text-left" >Par <%= @bet.user.nickname %></p>
  </div>


  <% if @progress == "resulted" %>
    Résultat : <%= @bet.result ? "Bro" : "No bro" %>
  <% end %>

  <% case @progress
  when "join_pending" %>
    <%= render "./bets/shared/participants" %>
    <%= render "./bets/shared/input_join_pending", bet_participation: @bet_participation%>


  <% when "joined" %>
    <%= render "./bets/shared/participants" %>
    <label for="">Lien de partage : </label>
    <!-- The text field -->
    <input type="text" value="<%=request.original_url%>" id="myInput">
    <!-- The button used to copy the text -->
    <!-- <button onclick="myFunction()">Copy text</button> -->
  <% when "result_pending" %>
    <%= render "./bets/shared/participants_choices" %>
  <% when "result_to_put" %>
    <%= render "./bets/shared/participants_choices" %>
    <%= render "./bets/shared/result_input" %>
  <% when "resulted" %>
    <%= render "./bets/shared/participants_choices" %>
  <% end %>

    <p><%= @bet.description %></p>
    <p>Mise : <br><%= @bet.stake %></p>
    <p>Date de cloture : <br><%= @bet.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
    <p>Date de résultat : <br><%= @bet.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>
</div>

<div class="round-btn-link">
<a data-toggle="modal" data-target="#tournaments-pending" href="<%= %>">+<i class="fas fa-trophy"></i></a>
</div>

<!-- Modal -->
<div class="modal fade" id="tournaments-pending" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Relié à quel Tournoi ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">

          <% BetParticipation.where(bet: @bet).each_with_index do |participant,index| %>

            <div class="d-flex align-items-center mb-2">
              <% if index > 0 %>
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar-bordered mb-2", style: "margin-left: -16px" %>
                <% else %>
                  <img class="avatar-bordered mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo" style= "margin-left: -16px">
                <% end %>
              <% else %>
                <% if participant.user.photo.attached? %>
                  <%= cl_image_tag participant.user.photo.key, class: "avatar-bordered mb-2"%>
                <% else %>
                  <img class="avatar-bordered mb-2" src="https://lemondedesados.fr/wp-content/uploads/2016/01/gold-texture-golden-gold-background.jpg" alt="logo">
                <% end %>
              <% end %>
              <span class="participant-name"><%= participant.user.nickname %></span>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container bet-participations pt-2">
  <h3>En cours</h3>
    <% #@pending_tournaments[0..2].each do |pending_tournament| %>
      <%#= link_to tournament_path(pending_tournament) do %>
        <div class="card-bet-participation">
          <div class="card-bet-participation-infos">
            <h3><%#= pending_tournament.title %></h3>
            <p>Mise: <strong><%#= pending_tournament.stake %></strong></p>
            <p>Résultat le <%#= pending_tournament.resulted_at.strftime("%d/%m/%Y à %k:%M") %></p>
          </div>
        </div>
      <% #end %>
    <% #end %>
</div>
 -->
