<div class="bet-infos">
  <div class="bet-title">
    <h4>
    <%= @bet.title %>
    </h4>
    <p class="text-left" >Par <%= @bet.user.nickname %></p>
  </div>


  <% if @progress == "resulted" %>
    Résultat : <%= @bet.result ? "Bro" : "No bro" %>
  <% end %>

  <% case @progress
  when "join_pending" %>
    <%= render "./bets/shared/participants" %>
    <%= render "./bets/shared/input_join_pending", bet_participation: @bet_participation%>


  <% when "joined" %>
    <%= render "./bets/shared/participants" %>
    <label for="">Lien de partage : </label>
    <!-- The text field -->
    <input type="text" value="<%=request.original_url%>" id="myInput">
    <!-- The button used to copy the text -->
    <!-- <button onclick="myFunction()">Copy text</button> -->
  <% when "result_pending" %>
    <%= render "./bets/shared/participants_choices" %>
  <% when "result_to_put" %>
    <%= render "./bets/shared/participants_choices" %>
    <%= render "./bets/shared/result_input" %>
  <% when "resulted" %>
    <%= render "./bets/shared/participants_choices" %>
  <% end %>

  <p><%= @bet.description %></p>
  <p>Mise : <%= @bet.stake %></p>
  <p>Date de cloture : <%= @bet.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Date de résultat : <%= @bet.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>
</div>
