<div class="bet-infos">
  <div class="bet-background-lg">
    <div class="bet-title">
      <h4><%= @tournament.title %></h4>
      <p class="text-left" >Par <%= @tournament.user.nickname %></p>
    </div>

  <% case @tournament_progress
  when "join_pending" %>
    <%= render "./tournaments/shared/participants" %>
    <%= render "./tournaments/shared/input_join_pending", tournament_participation: @tournament_participation %>
  <% when "joined" %>
    <%= render "./tournaments/shared/participants" %>
    <div class="justify-content-center my-3" style="text-align: center">
      <div class="justify-content-center" style="margin-bottom: 15px">
        <a data-toggle="modal" data-target="#QR">
          <img style="border-radius: 15px"  id="imageQRcode" src="http://chart.apis.google.com/chart?cht=qr&chs=50x50&chl=<%=request.original_url%>" alt="QR Code" name="imageQRcode" />
        </a>
        <label for="" id="link-to-copy" data-link="" >Copier le lien</label>
        <!-- The text field -->
        <input type="text" value="<%=request.original_url%>" id="link-to-copy-input">
      </div>
    </div>

    <% when "result_pending" %>
      <%= render "./tournaments/shared/participants" %>

    <% when "resulted" %>
      <%= render "./tournaments/shared/participants" %>
    <% end %>

    <p><%= @tournament.description %></p>
    <p>Mise : <%= @tournament.stake %></p>
    <p>Clôture le <%= @tournament.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
    <p>Résultat le <%= @tournament.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>

    <% unless @tournament_progress == "join_pending" %>
      <a data-toggle="modal" data-target="#bets-availables">
        <div class="round-btn-link bg-success">
          <div></div>
          <i class="fas fa-handshake"></i>
        </div>
      </a>
      <%= render "./shared/show_chatroom" %>
    <% end %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="bets-availables" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center bg-second">
          <h5 class="modal-title" id="exampleModalLongTitle">Paris disponibles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-around bg-light">
          <div class="d-flex flex-column">
          <%= link_to 'Crée ton Pari', new_my_bet_path, class: "small-green-btn" %>
            <% @available_bets.each_with_index do |bet, index| %>


              <div class="d-flex flex-column align-items-center mb-2">
                <div class="d-flex">
                  <div class="btn-show">
                    <%= link_to bet.title.length > 30 ? "#{bet.title[0..30]} ..." : bet.title, bet_path(bet) %>
                  </div>
                  <div class="btn-add">
                    <%= link_to tournament_tournament_bets_path(@tournament, bet_id: bet), method: :post do %>
                      <i class="fas fa-plus-circle  color-success"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Partage -->
<div class="modal fade" id="QR" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center bg-second">
          <h5 class="modal-title" id="exampleModalLongTitle">QR code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-around bg-light">
          <img style="border-radius: 15px"  id="imageQRcode" src="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=<%=request.original_url%>" alt="QR Code" name="imageQRcode" />
        </div>
      </div>
    </div>
  </div>
</div>

