<div class="bet-infos">
  <div class="bet-title">
    <h4><%= @tournament.title %></h4>
    <p class="text-left" >Par <%= @tournament.user.nickname %></p>
  </div>

  <% case @tournament_progress
  when "join_pending" %>
    <%= render "./tournaments/shared/participants" %>
    <%= render "./tournaments/shared/input_join_pending", tournament_participation: @tournament_participation %>
  <% when "joined" %>
    <%= render "./tournaments/shared/participants" %>
    <label for="">Lien de partage : </label>
    <!-- The text field -->
    <input type="text" value="<%=request.original_url%>" id="myInput">
    <!-- The button used to copy the text -->
    <!-- <button onclick="myFunction()">Copy text</button> -->

  <% when "result_pending" %>
    <%= render "./tournaments/shared/participants" %>

  <% when "resulted" %>
    <%= render "./tournaments/shared/participants" %>
  <% end %>

  <p><%= @tournament.description %></p>
  <p>Mise : <%= @tournament.stake %></p>
  <p>Date de cloture : <%= @tournament.closed_at.strftime("%d/%m/%Y à %kh%M") %></p>
  <p>Date de résultat : <%= @tournament.resulted_at.strftime("%d/%m/%Y à %kh%M") %></p>

  <% unless @tournament_progress == "join_pending" %>
    <a data-toggle="modal" data-target="#bets-availables">
      <div class="round-btn-link bg-success">
        <i class="fas fa-plus"></i>
        <i class="fas fa-handshake"></i>
      </div>
    </a>
    <%= render "./shared/show_chatroom" %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="bets-availables" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-second">
        <h5 class="modal-title" id="exampleModalLongTitle">Paris disponibles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around bg-light">
        <div class="d-flex flex-column">
          <% @available_bets.each_with_index do |bet, index| %>


            <div class="d-flex flex-column align-items-center mb-2">
              <div class="d-flex">
                <div class="btn-show">
                  <%= link_to bet.title[0..14], bet_path(bet) %>
                </div>
                <div class="btn-add">
                  <%= link_to tournament_tournament_bets_path(@tournament, bet_id: bet), method: :post do %>
                    <i class="fas fa-plus-circle  color-success"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
